<h1> New Addition </h1>

<form action="/wizard_add">
<div>
  <label for="zebra">First Number </label>
  <input id = "zebra" name="first_num">
</div>
<div>
  <label for="giraffe">Second Number </label>
  <input id="giraffe" name="second_num">
</div>
  <button>
    Add
  </button>
</form>