<h1> New Addition </h1>

<form action="/wizard_add">
  <input name="first_num">
  <input name="second_num">
  <button>
    Add
  </button>
</form>
<a href="/wizard_add?first_num=10&second_num=34">add 10 and 34 </a>