<h1> Addition results </h1>
<dl> 
<dt>First Number</dt>
<dt><%= @first %></dt>
</dl> 

<dl> 
<dt>Second Number</dt>
<dt><%= @second %></dt>
</dl> 

<dl> 
<dt>Result</dt>
<dt><%= @outcome %></dt>
</dl> 